.login-wrapper-background {
    /* background-image: url("../../../../assets/images/backgrounds/soldierDarkMode.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 40% 0;
    margin-top: 70px;
  }
.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-self: center;
    align-content: center;
    flex-direction: column;
    /* flex-direction: row; */
  }
  
.login-body { 
  margin: auto !important;
  /* position: absolute; */
  /* top: 30%;
  left: 40%; */
  width: 30em !important;
  /* backdrop-filter: blur(2px); */
  padding: 10px;
}
  
  .login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 30%;
    width:100%;
  }
  
  .login-header img {
    margin: 20px !important;
    padding-top: 20px;
    transform: scale(0.9);
  } 
  
  .login-header-text {
    font-size: 4rem;
    font-weight: bolder;
    color: #000;
    /* padding-top: 1rem; */
    /* color: rgba(0, 0, 0, 0); */
    text-align: center;
    margin: auto;
  }
  
  .login-card {
    opacity: 0.85;
    margin: auto   ;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 20% 3%;
  }
  
  #img2 {
    width: 14rem !important;
    margin: 0 7rem;
    margin-top: 1%;
  }
  #img1 {
    width: 14rem !important;
    margin: 0 7rem;
    margin-top: 1%;
  }
  
  @media (max-width: 30em) {
    .login-body{
      width: 100% !important;
    }
  }
  
  /* large screen  */
  @media (max-width: 1400px) {
    #img1,
    #img2 {
      width: 12rem !important;
    }
  }
  /* tablet mode  */
  @media (max-width: 1024px) {
    #img1,
    #img2 {
      width: 12rem !important;
      display: none;
    }
    .login-header-text {
      margin: 3rem auto;
    }
  }
  