/* .header-table {
  border-collapse: collapse;
  width: 100%;
  height: 119.062px;
  border-style: hidden;
  float: right;
}

.header-row {
  height: 50.6424px;
}

.header-celll {
  height: 50.6424px;
  text-align: center;
  border-style: hidden;
}

.header-text {
  text-align: center;
  font-size: 11pt;
}

.header-span {
  text-decoration: underline;
} */