.home{
    /* align-items:flex-end; */
    /* color:black; */
    /* background-color: tomato; */
    /* float: center; */
    /* display: flex;
    justify-content: center; */
    /* width: '100vw';
    height: '100vh'; */
    /* display: grid; */
    /* place-items: center; */
    display: flex;
    justify-content: center;
}
 