// ================================================================================================
// 	File Name: bordered-layout.scss
// 	Description: SCSS file for Bordered layout.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Vuexy - Vuejs, React, Angular, HTML & Laravel Admin Dashboard Template
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================
.mb-3.modal-header{
  background-color: #4f86b3;
  margin-bottom: 0px !important;
}
.dark-layout .flex-grow-1.modal-body{
  // background-color: #161D31;
  background-color: #060D21;
}
.flex-grow-1.modal-body{
  background-color: #fdfcfb;
}
.dark-layout .mb-3.modal-header{
  background-color: #020a18;
  // background-color: #46547d;
  //background-color: rgb(40,48,70);
}


@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

.bordered-layout {

  
  .header-navbar {
    box-shadow: none;
    border: 1px solid $border-color;
    &.floating-nav {
      border: 1px solid $border-color;
    }
    &.fixed-top {
      border-bottom: 1px solid $border-color;
      background: $body-bg;
      box-shadow: none !important;
    }
  }
  .main-menu {
    border-right: 1px solid $border-color;
    box-shadow: none;
    &.menu-light .navigation > li {
      &.open:not(.menu-item-closing),
      &.sidebar-group-active {
        > a {
          background: darken($white, 7%);
        }
      }
    }
  }
  .dropdown-menu {
    border: 1px solid $border-color !important;
    box-shadow: none;
  }
  .main-menu .navigation,
  .main-menu {
    background: $body-bg;
  }
  .card,
  .bs-stepper:not(.wizard-modern):not(.checkout-tab-steps),
  .bs-stepper.wizard-modern .bs-stepper-content {
    border: 1px solid $border-color;
    box-shadow: none;
  }

  .footer {
    box-shadow: none !important;
  }
  .footer-fixed {
    .footer {
      border-top: 1px solid $border-color;
    }
  }
}
hr{
  border-top: 1px solid#E5D6B0;
}
.doBktq{
  border-top: 0.3px solid #E5D6B0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 5px;
}
input[type="date"]{
  text-align: left;
}