@import "~react-image-gallery/styles/css/image-gallery.css";

/* cairo-regular - latin_arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/Cairo/cairo-v20-latin_arabic-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}
*{
  font-family: 'Cairo', sans-serif;
}

div{
  white-space: normal !important
}

div[id^=column]{
  text-align: center;
}

iframe{
  display: none;
}