@media print{
    body{
        height:initial !important;
        page-break-after: avoid;
        margin: 0 !important;
        padding:0 !important;
        overflow: initial !important;
    }

}
@font-face {
    font-family: "AmiriRegular";
    src: local('AmiriRegular'), url("../../../../../assets/fonts/Amiri/Amiri-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AmiriBold";
    src: local('AmiriBold'), url("../../../../../assets/fonts/Amiri/Amiri-Bold.ttf") format("truetype");
}
.report_header * {
    font-family: AmiriRegular;
    font-size: 15px;
    line-height: 1.2;
}

.report_footer * {
    font-family: AmiriRegular;
    font-size: 15px;
    line-height: 1;
}

.report_body * {
    font-family: AmiriRegular;
    font-size: 18px;
    line-height: 1.5;
}

#report_title * {
    font-family: AmiriRegular;
    font-size: 25px;
    line-height: 1;
    font-weight: bolder;
}

#report_bold * {
    font-family: AmiriRegular;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
}